body{
    width: 1000px;
    height: 600px;
}
.nav{
    height: 15%;
    text-align: center;
}
.div{
    width: 30%;
    height: 60%;
    float: left;
    margin: 0 10px;
    text-align: center;
}
.section{
    width: 90%;
    height: 70%;
    margin: 0 auto;
}
h1{
    font-size: medium;
}
.description{
    width: auto;
    height: 100%;
}
.ft{
    height: 15%;
    text-align: center;
}